/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .bootstra-iso .form-control-sm{
   height:calc(2.5em);
 }
 .tab-content > .tab-pane .form-control-plaintext{
   padding:0 10px;
 }
 .select-capping{
   margin-bottom: 20px;
 }
 .select-active{
   background-color: #007bff;
    color: #fff;
 }
#stepTab{
  display: none;
}
.next-prev-button{
  margin-top: 20px;
  color:#fff;
}
.btnNext{
  position: absolute;
  right: 0;
}

.index-last-step .btnPrevious{
  margin-left: 0;
}
.tab-pane ul li{
  list-style-type: none;
}
.select-active-card .card{
  background-color: #007bff;
  color: #fff;
}
.select-active-card a{

}
.tab-content > .tab-pane .fence-type-col a,
.tab-content > .tab-pane .timber-species-col a
{
  text-decoration: none;
}
.tab-content > .tab-pane .card-body{
  padding:2px;
}
.svg-map-act{
  fill: #1a659c;
}
.svg-map-act-line{
  stroke:#555;
  width:2px;
}
.svg-map-nsw{
  fill: #57b9fa;
}
.svg-map-nt{
  fill: #57b9fa;
}
.svg-map-qld{
  fill: #1a659c;
}
.svg-map-sa{
  fill: #04a0ed;
}
.svg-map-tas{
  fill: #04a0ed;
}
.svg-map-vic{
  fill: #0a7ec7;
}
.svg-map-wa{
  fill: #0a7ec7;
}

.map-container{
  text-align: center;
}
.svg-map{
  
}
.svg-map a.select-active-map .svg-map-act,
.svg-map a.select-active-map .svg-map-nsw,
.svg-map a.select-active-map .svg-map-nt,
.svg-map a.select-active-map .svg-map-qld,
.svg-map a.select-active-map .svg-map-sa,
.svg-map a.select-active-map .svg-map-tas,
.svg-map a.select-active-map .svg-map-vic,
.svg-map a.select-active-map .svg-map-wa,
.svg-map a:hover .svg-map-act,
.svg-map a:hover .svg-map-nsw,
.svg-map a:hover .svg-map-nt,
.svg-map a:hover .svg-map-qld,
.svg-map a:hover .svg-map-sa,
.svg-map a:hover .svg-map-tas,
.svg-map a:hover .svg-map-vic,
.svg-map a:hover .svg-map-wa {
    fill: #999;
}

@media print {
  .nav-tabs {
    display: none !important;
  }

  .tab-content > .tab-pane .info-data .info-data-values {
    display: block !important;
  }
  .tab-content > .tab-pane .info-data .submit-email-print{
    display: none !important;
  }
  .tab-content > .tab-pane .next-prev-button{
    display: none !important;
  }
}
